body {background-image: url(https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg);}

#header {color: black;
text-align: center;
font-family: fantasy;
margin-top: 20px;
padding-top: 5px;
}

h3 {font-size: 50px;}

#directions {background: rgba(34, 56, 33, 0.562);
width: 500px;
height: 450px;
margin-top: 20px;
}

p {color: white;
text-align: center;
font-size: 15px;
line-height: 2;
}

#numbertomatch {background: black;
width: 200px;
height: 200px;
text-align: center;
margin-top: 30px;
margin-left: 285px;

}

#randomNumber {color: rgb(11, 43, 11);
padding-top: 40px;
font-size: 115px;
 }

 h2 {margin-top: 30px;}

#boxscore {background: white;
width: 200px;
height: 200px;
text-align: center;
margin-top: 30px;
margin-left: 85px;
margin-right: 285px;
}

#winsandlosses {padding-top: 40px;
font-size: 32px;
margin-top: 30px;
padding-top: 35px;
}

.crystals {margin-left: 350px;
}

.gemImage {height: 125px;
margin-top: 40px;
}

.userTotal {color: white;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 500px;
}