body {background: orange;}

#header {background: black;
color: teal;
text-align: center;
padding-top: 5px;
}

#directions {background:rgba(255, 255, 255, 0.219);
width: 500px;
height: 450px;
margin-top: 20px;
}

p {color: white;
text-align: center;
font-size: 15px;
line-height: 2;
}

#numbertomatch {background: black;
width: 200px;
height: 200px;
text-align: center;
margin-top: 30px;

}

#randomNumber {padding-top: 40px;
font-size: 80px;
 }

#boxscore {background: white;
width: 200px;
height: 200px;
text-align: center;
margin-top: 30px;
}

#winsandlosses {padding-top: 40px;
font-size: 32px;
padding-top: 35px;
}

.crystals {margin-left: 350px;
}

.gemImage {height: 125px;
margin-top: 40px;
}

.userTotal {margin-top: 40px;
    margin-left: 500px;
}